@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display : block;
} 

:root {
  --main-text-color: #1f1305; 
  --second-text-color: #f2ede8;
  --hover-text-color: #5c4d3c;
  --hover-color: #050505;
  --highlight-color: #6e1810;
}
